.trash {
    color: rgb(209, 91, 71);
}

.panel-body .checkbox {
    display: inline-block;
    margin: 0px;
}

.list-group {
    margin-bottom: 0px;
}

/*brings the modal container out of the background*/
.modal-backdrop {
  z-index: -1;
}
